nav {
  border-radius: 0 !important;
}
.custom-slider.rzslider .rz-bar {
  background: grey;
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
  background: #772953;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #772953;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  color: grey;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #772953;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: #511C39;
}
