<div class="row">
  <div class="col-sm-12">
    <div class="swell swell-sm">
      <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <b>Price Range</b> - monthly<rzslider class="custom-slider" rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <ng-map style="height: 60vh;" center="[40.7291, -73.9965]"></ng-map>
  </div>
</div>
